.lead-filter {
    font-size: 1.2rem;
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid $clr4;

    margin-top: 10px;
    padding: 6px;

    &>* {
        margin-inline-end: 7px;
        cursor: pointer;
    }

    input {
        cursor: pointer;
        margin-inline-end: 7px;
        width: 0.8rem;
        height: 1rem;
    }
}