.lead-preview {
    border-bottom: 1px solid $clr4;
    padding: 10px;
    width: 100%;
    min-height: rem(100px);

    &>* {
        width: 30%;
    }

    .lead-actions {
        justify-content: flex-end;
    }


    p {
        cursor: text;
        border: 1px solid $clr4;
        font-size: 1.1rem;
        padding: 10px;
        border-radius: 5px;


    }
}

.first-step {
    background-color: #f8fabe;
}

.second-step {
    background-color: #bed7fa;
}

.third-step {
    background-color: #befac4;
}